version: 2
jobs:
  build:
    branches:
      only: master
    docker:
      -image: circleci/node:7.10
    steps:
      - checkout
      - restore_cache:
        key: dependency-cache-{{ checksum "package.json" }}
        key: v1-dependencies-

      - run: 
        name: Install dependencies
        command: yarn install
      
      - save_cache
        paths:
          - node_modules
        key: v1-dependencies-{{ checksum "package.json" }}

      - run:
        name: test
        command: echo "no test"

      - run:
        name: build
        command: yarn build

      - run:
        name: Install Now CLI
        command: yarn global add now-cli

      - run:
        name: Deploy to Now
        command: cd public && now alias https://public-brtlxzndss.now.sh/ gatsby-start
workflows:
  version: 2
  build_and_deploy:
    jobs:
      - build