version: 2
jobs:
  build_deploy_heroku:
    docker:
      - image: circleci/node:9
    steps:
      - checkout
      - restore_cache:
          key: v1-dependency-cache-{{ checksum "package.json" }}
      - run: 
          name: Install dependencies
          command: npm install  
      - save_cache:
          paths:
            - node_modules
          key: v1-dependency-cache-{{ checksum "package.json" }}
      - run:
          name: test
          command: echo "no test"
      - run:
          name: build
          command: npm run build
      - run:
          name: Transfer deploy extra files
          command: cp _deploy/public/* public
      - run:
          name: List Files
          command: ls -a . 
      - run:
          name: Deploy Master to Heroku
          command: |
            git push https://heroku:$HEROKU_API_KEY@git.heroku.com/$HEROKU_APP_NAME.git master
  deploy_heroku:
    docker:
      - image: circleci/node:9
    steps:
      - checkout
      - run:
          name: Deploy Master to Heroku
          command: |
            git push https://heroku:$HEROKU_API_KEY@git.heroku.com/$HEROKU_APP_NAME.git master
  deploy_now:
    docker:
      - image: circleci/node:9
    steps:
      - checkout
      - run:
          name: Install Now CLI
          command: npm install now
      - run:
          name: Deploy to Now
          command: ls public && cd public && now alias https://public-brtlxzndss.now.sh/ gatsby-start
workflows:
  version: 2
  build_and_deploy:
    jobs:
      - build_deploy_heroku